<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center"> Lista de Clientes </h2>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <select (change)=" obtenerUsuarios($event.target.value)" class="custom-select btn btn-secondary">
                      <option class="dropdown-menu text-white" >Selecciona Equipo</option>
                      <option *ngFor="let equipo of equipos" class="dropdown-item text-white" [value]="equipo._id">{{equipo.nombre}}</option>
                    </select>
                </div>
                <div *ngIf="usuarios.length > 0" class="btn-group" role="group">
                    <select (change)="usuario_id = $event.target.value" class="custom-select btn btn-secondary">
                      <option class="dropdown-menu text-white" >Selecciona Usuario</option>
                      <option *ngFor="let usuario of usuarios" class="dropdown-item text-white" [value]="usuario._id">{{usuario.nombre}}</option>
                      
                    </select>
                </div>
                <button (click)="buscaClientes(equipo_id, usuario_id)" type="button" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
            </div>
        </div>
        <!--  -->
        <div class="col-md-12 mt-5" *ngIf="clientes.length > 0">
            <table mat-table [dataSource]="clientes" class="mat-elevation-z8 col-md-12">
                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                </ng-container>
                <ng-container matColumnDef="usuario_id">
                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                    <td mat-cell *matCellDef="let element"> {{element.usuario_id.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>