<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <h3 class="text-center"> Registro de Uusario </h3>
            <form [formGroup]="forma" (ngSubmit)="guardar()">
                <div class="form-group">
                    <label class="form-text text-muted">Nombre del usuario: </label>
                    <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre Usuario">
                </div>
                <div class="form-group">
                    <label class="form-text text-muted">Equipo</label>
                    <select class="form-control" formControlName="equipo_id">
                      <option value="">Selecciona equipo</option>
                      <option *ngFor="let equipo of equipos" [value]="equipo._id"> {{equipo.nombre}} </option>
                    </select>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-outline-primary">
                    <i class="fas fa-save"></i> Guardar
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>